# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

In [ ]:
1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/sdong4/pete2061

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10, and display an appropriate error message if the user enters a number that is outside this range. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [41]:
import numpy as np
import pandas as pd
x = np.random.random(1)
random = int(x*10)
print(random)
if random <= 2:
    dogyrs = (10.5*random)
    print(dogyrs)
else:
    dogyrs = (21+((random-2))*4)
    print(dogyrs)
myDict = {'Human Years':[random], 'Dog Years':[dogyrs]}
df = pd.DataFrame(myDict)
df

9
49

   Human Years  Dog Years
0            9         49

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [84]:
import numpy as np
import pandas as pd
x= np.random.random(10)
random = (x*100)
myDict = {'Name':['A','B','C','D','E','F','G','H','I','J'], 'Scores':random}
df = pd.DataFrame(myDict)
df

  Name     Scores
0    A  47.019372
1    B  58.596826
2    C  44.756009
3    D  29.617191
4    E  45.847961
5    F  25.755495
6    G  50.540582
7    H  30.648412
8    I  94.052874
9    J  85.371351

In [85]:
df.describe()

          Scores
count  10.000000
mean   51.220607
std    22.809474
min    25.755495
25%    34.175311
50%    46.433666
75%    56.582765
max    94.052874

In [88]:
print(df.loc[df['Scores'].idxmax()])

Name            I
Scores    94.0529
Name: 8, dtype: object

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [52]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
# A score of less than 60 gets a letter grade of F

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [53]:
import numpy as np
myRandInt = np.random.randint(low=1, high=20, size=10)